
# Syncthing versioning
.stversions/

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
tsconfig.tsbuildinfo

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
